<h5>Consulta de contas</h5>
<hr />

<table class="table table-sm table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Nome da Conta</th>
            <th>Valor</th>
            <th>Data</th>
            <th>Categoria</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of contas">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn btn-primary btn-sm">Alterar</button>
                &nbsp;
                <button class="btn btn-danger btn-sm">Excluir</button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Quantidade de contas: {{contas.length}}</td>
        </tr>
    </tfoot>
</table>